html{
    background-color:rgba(122, 191, 191, .5);
    
}

/*Mobile*/

body{
    background-color:#F2F2F2;
    width: 414px;
    margin:auto;
}

h1, h2, h3{
    font-family: 'Bebas Neue', cursive;
    text-align: center;

}

h1{
    font-size: 40px;
    padding-top: 170px;
    margin-bottom: 12px;
    margin-top: 0px;
    

    
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}

p,dd,li,nav,input{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
dt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

img{
    width: 100%
}

#hamburger {
    display: flex;
    flex-direction: column;
    width:80px;
    height: 80px;
    position: absolute;
    translate: 10px -4760px;
     
}
#hamburger svg{
    position:relative;
    top: 10px;
    left:20px;
}
#hamburger nav a{
    padding-left: 12px;
}
#hamburger p{
    font-size: 20px;
    font-family:'Bebas Neue', cursive;
    color:black;
    margin:6px 12px 6px 22px;
}

 menu li {
    list-style: none;
}

nav li{
    list-style: none;
}

#logo{
    width:210px;
    margin:0;
    translate: 65px -4750px;
    background-color: #eb5428;
    position: absolute;
}

#logo svg{
    position: relative;
    left:75px;
}


#about > p {
    padding-left: 12px;
    padding-right: 12px;
    
}

dl{
    display: flex;
    margin: 8px 8px;
}

dd{
    margin-left: 10px;
}

#details > h2{
    margin-bottom: 12px;
}

#ingredientsDirections > ul {
padding-left: 30px;

}

#ingredientsDirections li {
    padding-top: 6px;
padding-bottom: 6px;
}

#ingredientsDirections ol {
    padding-right: 12px;
    padding-left: 24px;
    margin-top: 0px;
}

#ingredientsDirections h2{
    margin-bottom: 0px;
}


menu{
    display: flex;
    margin:auto;
    padding: 0;
    justify-content: end;
}

menu > li{
    display:flex;
    flex-direction: column;
    padding: 12px 24px;
    font-size: 20px;
    font-family:'Bebas Neue', cursive;
    text-align: center;
    color:#eb5428
}


#avatar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:80px;
    height: 80px;
    position: absolute;
    translate:285px -7535px;
    

}

#avatar > a {
    position:relative;
    padding-left:17px;
 
}
#avatar > p {
    font-size: 20px;
    font-family:'Bebas Neue', cursive;
    color:black;
    margin:0;
    text-align: center;
}

nav > li {
    font-size: 20px;
    font-family:'Bebas Neue', cursive;
    color:black;
    padding-top:6px;
}

#searchbar{
    display:flex;
    flex-direction: row;
    translate: 70px -7440px;
}

#searchbar > svg {
    background-color: #eb5428;
}

input{
    border: 2px solid #eb5428;
    width:224px;
    
}

input::placeholder {
    font-family:'Montserrat', sans-serif; 
    font-size: 16px;
}




